.logo {
    display: inline-block;
    padding-top: 24px;
    padding-bottom: 25px;
    margin-right: 93px;

    text-decoration: none;
    font-family: 'Raleway';
    font-size: 26px;
    line-height: 1.2;

    color: #2196f3;
    &:hover,
    &:focus {
        color: var(--accent-text-collor);
    }
}

.wht {
    color: var(--white-text-collor);
}

.blck {
    color: var(--black-text-collor);
}

.logo-header {
    margin-top: 24px;
    margin-bottom: 25px;
}

.footer-logo {
    text-decoration: none;
    font-family: 'Raleway';
    font-size: 26px;
    line-height: 1.2;
    color: var(--accent-text-collor);

    &:hover,
    &:focus {
        color: var(--accent-text-collor);
    }
}

